tr:hover td {
    background-color: #ececec;
    transition: all 0.3s ease;
}

thead {
    font-weight: bold;
}

.icon-hover{
    cursor: pointer;
}

.icon-edit:hover{
    color: #858fff;
}

.icon-archive:hover{
    color: #ffd266;
}

.icon-unarchive{
    color: #ffd266;
}

.icon-unarchive:hover{
    color: #737373;
}

.icon-delete:hover{
    color: #ff8383;
}
